<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.methodia.android.testautomation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ActiveAndroidApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.SortCustomRowActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Activity.AsyncTaskTestActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Activity.TimberActivity"
            android:label="@string/title_activity_timber_pid_cat" />
        <activity
            android:name=".Activity.PicassoIonActivity"
            android:label="@string/title_activity_picasso_ion" />
        <activity
            android:name=".Activity.ImageLibsActivity"
            android:label="@string/title_activity_image_libs" />
        <activity
            android:name=".Activity.RetrofitRobospiceActivity"
            android:label="@string/title_activity_retrofit_robospice" />
        <activity
            android:name=".Activity.RetrofitAndRobospice"
            android:label="@string/title_activity_retrofit_and_robospice" />
        <activity
            android:name=".Activity.ActiveAndroidActivity"
            android:label="@string/title_activity_active_android">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Network.JsonSpiceService"
            android:exported="false" />
        <service
            android:name=".Network.SampleRetrofitSpiceService"
            android:exported="false" />

        <meta-data
            android:name="AA_DB_NAME"
            android:value="Sports.db" />
        <meta-data
            android:name="AA_DB_VERSION "
            android:value="2" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.methodia.android.testautomation.Database.Sport, com.methodia.android.testautomation.Database.Team" />

    </application>

</manifest>
